.check_hover {
	background-image: linear-gradient(to bottom, #47dbff, #47dbff 41%, #3eb4ff);
}
.check_insensitive {
	background-image: linear-gradient(to bottom, #fefefe, #fefefe 41%, #f3f3f3);
}
.check {
	background-image: linear-gradient(to bottom, #f8ffff, #f8ffff 41%, #d2ffff);
}
