.button-default {
	background-image: linear-gradient(to bottom, #e6fcff, #b2e0ff 42%, #93d5ff 47%, #70b2ff);
}
.button-insensitive {
	background-image: linear-gradient(to bottom, #e6f5f8, #dbeef9 42%, #cbdefc 47%, #c5e4f6);
}
.button-normal {
	background-image: linear-gradient(to bottom, #f7ffff, #daf7ff 42%, #c1ebff 47%, #6ac4ff);
}
.button-prelight {
	background-image: linear-gradient(to bottom, #e7ffff, #c3f5ff 42%, #8ae9ff 47%, #7ee7ff 57%, #6adfff 73%, #4cd5ff);
}
.button-pressed {
	background-image: linear-gradient(to bottom, #dcf8fe, #b2e0ff 42%, #6ec4ff 47%, #3a97fe 89%, #3491fe);
}
.check_hover {
	background-image: linear-gradient(to bottom, #47dbff, #47dbff 36%, #3eb4ff 45%, #3eb4ff);
}
.check_insensitive {
	background-image: linear-gradient(to bottom, #fefefe, #fefefe 36%, #f3f3f3 45%, #f3f3f3);
}
.check {
	background-image: linear-gradient(to bottom, #f8ffff, #f8ffff 36%, #d2ffff 45%, #d2ffff);
}
.menubar_bg {
	background-image: linear-gradient(to bottom, #dbf5ff, #dbf5ff 47%, #99d5ff);
}
.menubar-item {
	background-image: linear-gradient(to bottom, #e8f9fe, #daf6fe 18%, #d2f4fe 31%, #a4ecf7);
}
.menubar {
	background-image: linear-gradient(to bottom, #dbf5ff, #dbf5ff 47%, #99d5ff);
}
.menuitem {
	background-image: linear-gradient(to bottom, #ddffff, #c0fcff 43%, #87efff);
}
.menu {
	background-image: linear-gradient(to right, #c7f0ff, #cbf1ff 33%, #e9fbff);
}
.progressbar-horiz {
	background-image: linear-gradient(to right, #004eae, #0553b0 6%, #a9f3fe 96%, #c4f7ff);
}
.progressbar_trough_horiz {
	background-image: linear-gradient(to bottom, #f0f6fd, #cae4fb 28%, #bfe6ff 50%, #c6ebff 64%, #f3fbfc);
}
.slider-horiz {
	background-image: linear-gradient(to bottom, #b6ffff, #2eb0ff);
}
.slider-horiz-prelight {
	background-image: linear-gradient(to bottom, #ffffff, #44ffff);
}
.slider-horiz-insens {
	background-image: linear-gradient(to bottom, #e1f9ff, #d1f0ff 25%, #75b6ff);
}
.slider-horiz {
	background-image: linear-gradient(to bottom, #e1f9ff, #d1f0ff 25%, #75b6ff);
}
.slider-horiz-prelight {
	background-image: linear-gradient(to bottom, #fff59c, #ffe983 25%, #ff9d02);
}
.trough-scrollbar-horiz {
	background-image: linear-gradient(to bottom, #fffbd5, #fffefa 83%, #fdfaf3);
}
.tab-top {
	background-image: linear-gradient(to bottom, #f3fcff, #e0f6ff 44%, #ceeefe 50%, #b0dff8);
}
.toolbar-light {
	background-image: linear-gradient(to bottom, #b0e0ff, #b7e3ff 5%, #dbf5ff 82%, #dbf5ff);
}

.toolbutton-normal {
	background-image: linear-gradient(to bottom, #ddffff, #d4ffff 13%, #c5feff 36%, #76ebff 50%, #77ebff 72%, #83eeff);
}
.toolbutton-prelight {
	background-image: linear-gradient(to bottom, #c5eeff, #bdeeff 40%, #85ddff);
}
.toolbutton-pressed {
	background-image: linear-gradient(to bottom, #b0dfff, #bbe3ff 40%, #87ceff);
}
